
body{
    color:#40514E ;
    margin: 0;
    text-align: center;
    font-family:Merriweather,serif ;
}
h1{
    color: #66BFBF;
    line-height: 2;
    font-size: 90px;
    margin: 50px auto 0 auto;
    font-family:Sacramento,cursive;
}
h2{
    color: #66BFBF;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
.pro{
    font-weight: normal;
    
}
h3{
    color: #11999E;
}
.middle-container{
    margin: 100px 0;
}
.intro{
    width: 30%;
    margin: auto;
}
.footer-link{
    color: #11999E;
}

.top{
    background:  #e4f9f5;
    position: relative;
    padding-top: 100px;

}
.Me{
    width: 20%;
}
p{
    line-height: 2;
}
.copyrights{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right:300px;
}
.skill-one{
    width: 25%;
    text-align: left;
    float: left;
    margin-right: 30px;
}
.skill-two{
    width: 25%;
    text-align: right;
    float: right;
    margin-left: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto ; 
    text-align: left;  
}
p{
    color: #40514E;
}
hr{
   border: dotted #EAF6F6 6px; 
   width: 5%;
   border-bottom: none;
   margin: 100px auto;
}
a{
    color: #11999E;
    font-family: "Montserrat",sans-serif;
    margin:10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.contact-paragraph{
    width:40%;
    margin: 40px auto 60px;

}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.contact-me {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    font-size: 53px;
    font-weight: 100;
    padding: 44px;
    background-color: #66BFBF;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .contact-me:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
